.battery {
    width: 300px;
    height: 100px;
    border: 2px solid black;
    margin: 20px;
    position: relative;

}
.battery::after {
    content:"";
    position: absolute;
    right: -15px;
    background-color: black;
    width: 15px;
    height: 30px;
    top: 30%;

}
.red::before {
    content: '';
    background-color: red;
    width: 20%;
    height: 96%;
    position: absolute;
    border: 2px solid white;
}
.yellow::before {
    content: '';
    background-color: yellow;
    width: 66%;
    height: 96%;
    position: absolute;
    border: 2px solid white;
}
.green::before {
    content: '';
    background-color: green;
    width: 296px;
    height: 96%;
    position: absolute;
    border: 2px solid white;
}
