.flag {
    background: linear-gradient(90deg, white, #cccccc);
    border: 1px solid black;
    margin: 5px;
    /*position: center;*/
    display: flex;
    width: 600px;
    height: 300px;
    justify-content: center;
    align-items: center;
}
.dot {
    background-color: red;
    border-radius: 50%;
    width: 150px;
    height: 150px;


}