* {
    padding: o;
    margin: 0;
    box-sizing: border-box;
}

.flex-container {
    border: 10px solid #7f00ff;
}
.flex-item {
    padding: 10px;
    font: 900 60px "Roboto", SansSerif;
    color: #fff;
    text-align: center;
    text-shadow: 4px 2px 0 rgba(0, 0, 0, 0.2);
}
.item-1 {
    background-image: linear-gradient(45deg, #ff8177, #ffffff);
}
.item-2 {
    background-image: linear-gradient(45deg, #778eff, #bb1212);
}
.item-3 {
    background-image: linear-gradient(45deg, #77ff82, #53834d);
}
.item-4 {
    background-image: linear-gradient(45deg, #572b72, #8d4a4a);
}
.item-5 {
    background-image: linear-gradient(45deg, #e7d414, #beb157);
}
.item-6 {
    background-image: linear-gradient(45deg, #0fc471, #beea9e);
}
.item-7 {
    background-image: linear-gradient(45deg, #9907ef, #a69cd7);
}
.item-8 {
    background-image: linear-gradient(45deg, #dc0949, #be1414);
}
.item-9 {
    background-image: linear-gradient(45deg, #776a6e, #bd4545);
}

.flex-container {
    display: flex;
    height: 100vh;
    /*flex-flow; column wrap;*/
    flex-direction: column;
    justify-content: start;

}
.flex-item {
    width:100px;
    /*margin: 5px;*/

}

